<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form data collection </title>
</head>
<body>
    <h1> hEllo world duniya </h1>
    <form action="/form-section"   > 
        <!-- //method="post" -->
   <input  type="email" placeholder="enter the mail" name="mail"/>

   <input  type="password" placeholder="enter the password" name="password"/>
   
   <input  type="text" placeholder="enter the username" name="username"/>
   <button > submit form </button>
    </form>
</body>
</html>